{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div id="frontpage-header" class="mb-4"></div>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home:index' %}"><span>Home</span></a></li>
        <li class="breadcrumb-item"><a href="{% url 'media:overview' %}"><span>Media</span></a></li>
        <li class="breadcrumb-item"><a href="{% url 'media:add' %}"><span>Add Media</span></a></li>
    </ol>
</div>
<div class="container header-container mt-4">
    <h1 class="text-center">Add/Edit File</h1>
</div>
<div class="container">
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" id="btn-add-image" class="btn btn-success" value="Save" />
    </form>
</div>
{% endblock %}