{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div id="frontpage-header" class="mb-4"></div>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home:index' %}"><span>Home</span></a></li>
        <li class="breadcrumb-item"><a href="{% url 'home:recentprojects' %}"><span>Edit Recent Projects</span></a></li>
    </ol>
</div>
<div class="container header-container mt-4">
    <h1 class="text-center">Recent Project Management</h1>
</div>
<div class="container">
    <p>On this page you can add a new "Recent Work" post for the home page, as well as edit the last four entries. 
        Please keep in mind to only update one recent project at the time.</p>
    {% for form in recent %}
        <h2>Recent Project</h2>
        <form action="{% url 'home:recentprojects' form.0 %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form.1 %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
                Update
            </button>
            {% endbuttons %}
        </form>
    {% endfor %}
</div>
{% endblock %}