{% extends 'base.html' %}
{% block content %}
<div id="frontpage-header" class="mb-4"></div>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home:index' %}"><span>Home</span></a></li>
        {% if request.user.is_authenticated %}
        <li class="breadcrumb-item"><a href="{% url 'articles:overview' %}"><span>Articles</span></a></li>
        {% else %}
        <li class="breadcrumb-item"><span>Articles</span></li>
        {% endif %}
        <li class="breadcrumb-item"><a href="{% url 'articles:page' article.id %}"><span>{{article.title}}</span></a>
        </li>
    </ol>
</div>
<div class="container header-container mt-4">
    <h1 class="text-center">{{article.title}}</h1>
    {% if not article.is_published %}
    <p class="text-center"><span class="badge bg-danger">Draft</span></p>
    {% endif %}
    <p class="text-center">Article</p>
    <div class="d-flex flex-row justify-content-between">
        {% if next %}
        <a class="navlink" href="{% url 'articles:page' next.id %}">&lt; Next Article</a>
        {% else %}
        <span class="navlink"></span>
        {% endif %}
        <span>{{article.created_at}}</span>
        {% if prev %}
        <a class="text-end navlink" href="{% url 'articles:page' prev.id %}">Next Article &gt;</a>
        {% else %}
        <span class="navlink"></span>
        {% endif %}
    </div>
</div>
<div class="container project-nutshell-container">
    {% if request.user.is_authenticated %}
    <div class="mb-3">
        <a href="{% url 'articles:edit' article.id %}"><button class="btn btn-primary">Edit this page</button></a>
    </div>
    {% endif %}
    <h1>About this Article</h1>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab"
                            href="#tab-1">Motivation</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                            href="#tab-2">Summary</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                            href="#tab-4">Conclusion</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                            href="#tab-3">Resources</a></li>
                </ul>
                <div class="tab-content consistent-height">
                    <div class="tab-pane active project-pane" role="tabpanel" id="tab-1">
                        <p>{{article.motivation_summary}}</p>
                    </div>
                    <div class="tab-pane project-pane" role="tabpanel" id="tab-2">
                        <p>{{article.article_summary}}</p>
                    </div>
                    <div class="tab-pane project-pane" role="tabpanel" id="tab-4">
                        <p>{{article.results_summary}}</p>
                    </div>
                    <div class="tab-pane project-pane" role="tabpanel" id="tab-3">
                        <div class="d-flex justify-content-center align-items-center flex-wrap h-100">
                            {% if not article.dataset_url and not article.repository_url and not article.download_link_url and not article.project_page_url %}
                                No resources are available for this article.
                            {% endif %}
                            {% if article.dataset_url %}
                            <div class="d-flex flex-column text-center mx-4"><a href="{{article.dataset_url}}"><i
                                        class="fab fa-kaggle icon-large"></i></a><span>Dataset</span></div>
                            {% endif%}
                            {% if article.repository_url %}
                            <div class="d-flex flex-column text-center mx-4"><a href="{{article.repository_url}}"><i
                                        class="fa fa-github icon-large"></i></a><span>Repository</span></div>

                            {% endif%}
                            {% if article.download_link_url %}
                            <div class="d-flex flex-column text-center mx-4"><a href="{{article.download_link_url}}"><i
                                        class="fa fa-download icon-large"></i></a><span>Download</span></div>

                            {% endif%}
                            {% if article.project_page_url %}
                            <div class="d-flex flex-column text-center mx-4"><a href="{{article.project_page_url}}"><i
                                        class="fa fa-external-link icon-large"></i></a><span>Project Page</span></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column align-items-center h-100">
                <h4>Tools used</h4>
                <ul>
                    {% for tool in toolstack %}
                    <li>{{tool}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <h1>The Premise</h1>
    <p>{{article.article_premise|safe}}</p>
    
    <p>{{article.article_text|safe}}</p>
</div>
{% endblock %}