#frontpage-header {
  background: url("../../assets/img/pexels-nao-triponez-792199.jpg") center / cover no-repeat;
  height: 70vh;
  max-width: 2200px;
  margin: auto;
}

body {
  font-family: Assistant, sans-serif;
  background-color: var(--bs-gray-100);
}

.feature i {
  font-size: 2em;
}

h1 {
  font-family: Lato, sans-serif;
}

.feature_icon {
  padding: 10px;
  border-radius: 35px;
  border-width: 2px;
  border-style: solid;
  color: rgb(255,255,255);
}

#feature_textanalysis {
  background: var(--bs-red);
}

#feature_machinelearning {
  color: rgb(255, 255, 255);
  background: var(--bs-orange);
}

#feature_gamedev {
  background: var(--bs-green);
}

#navbar-main {
  min-height: 100px;
}

@media (min-width: 768px) {
  .two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    max-width: 900px;
    margin: auto;
    text-align: justify;
  }
}

.project-column {
  min-height: 200px;
  margin-bottom: 20px;
  display: flex;
}

.link-readmore {
  color: #fb8d8d !important;
}

.project-column > div {
  background-color: #212121;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  color: var(--bs-light);
}

.link-readmore:hover {
  color: #fb8d8d !important;
}

.project-column span {
  font-size: 1.2em;
}

.icon-large {
  font-size: 6em;
}

@media (max-width: 991) {
  .row-about {
    margin-top: 2em;
  }
}

.row-about {
  margin-top: 3em;
}

@media (min-width: 992px) {
  .row-about {
    margin-top: 0;
  }
}

.feature {
  margin-top: 2em;
}

@media (min-width: 768px) {
  .feature {
    margin-top: 0;
  }
}

.link-icon {
  font-size: 1.5em;
}

.social-link {
  color: white;
}

.social-link:hover {
  color: white;
}

#login-pane {
  width: 35%;
  background-color: #171717;
  padding: 15px;
  min-width: 300px;
  min-height: 500px;
}

#login-container {
  min-height: 85vh;
  width: 100%;
}

footer > div {
  height: 100px;
  background-color: #232323;
  margin-top: 50px;
}

#feature_webdev {
  background: var(--bs-blue);
}

a {
  color: black;
}

#table-delete {
  width: 20px;
}

#container-category-management {
  min-height: 70vh;
}

#btn-update-categories {
  width: 150px;
}

a.nav-link:hover {
  color: black;
}

a.nav-link:focus {
  color: black;
}

.project-pane {
  min-height: 100px;
  border-radius: 0;
  border: 1px solid rgb(218,218,218);
  padding: 10px;
}

.header-container {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 15px 50px 15px 50px;
  border-color: #bbbbbb;
  margin-bottom: 2vh;
}

.navlink {
  width: 200px;
}

.consistent-height.tab-content {
  display: flex;
}

.consistent-height.tab-content > .tab-pane {
  display: block;
  visibility: hidden;
  margin-right: -100%;
  width: 100%;
}

.consistent-height.tab-content > .active {
  visibility: visible;
}

.django-ckeditor-widget {
  width: 100%;
}

.navbar-nav > * .nav-link:hover {
  text-decoration: underline solid var(--bs-dark);
}

.navbar-nav > * .nav-link {
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease, color 0.5s ease;
  text-underline-offset: 0.3em;
}

#table-blognum {
  width: 100px;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-nav {
  font-family: Assistant, sans-serif;
}

.blogpost {
  width: 100%;
  min-height: 200px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  padding: 10px;
  height: 100%;
}

.blogpost > p {
  height: auto;
}

.blogpagination-nav {
  margin-bottom: 2vh;
}

.feature > p {
  text-align: justify;
}

a.nav-link {
  color: black;
}

a > i:hover {
  color: #404040;
}

