{% extends 'base.html' %}

{% block content %}
<div id="frontpage-header" class="mb-4"></div>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home:index' %}"><span>Home</span></a></li>
        <li class="breadcrumb-item"><a href="{% url 'blog:overview' %}"><span>Blog</span></a></li>
        <li class="breadcrumb-item"><a href="{% url 'blog:categories' %}"><span>Categories</span></a></li>
    </ol>
</div>
<div class="container header-container mt-4">
    <h1 class="text-center">Category Management</h1>
</div>
<div class="container">
    <p>On this page, you may change the name of existing categories, delete them, or add new ones. These categories will
        be displayed when creating blog posts. <strong>Keep in mind that a category cannot be deleted if it is used in any
        existing blog post.</strong></p>
    <form id="UpdateCategoriesForm" method="POST">
        {{ formset.non_form_errors.as_ul }}
        {{ formset.management_form }}
        {% csrf_token %}
        <table id="formset" class="table form table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th style="width:50px;" class="text-center">Posts</th>
                    <th style="width:20px;">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset.forms %}
                <tr>
                    <td class="w-100">
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{form.name.errors.as_ul }}
                        {{form.name}}
                    </td>
                    <td class="text-center">
                        {{form.blogcount}}
                    </td>
                    <td class="text-center">
                        {{form.DELETE.errors.as_ul}}
                        {% if form.blogcount == 0 %}
                        {{form.DELETE}}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" id="btn-update-categories" class="btn btn-success" value="Update" />
    </form>
</div>
{% endblock %}