{% extends 'base.html' %}
{% block content %}
<div id="frontpage-header" class="mb-3"></div>
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:index' %}"><span>Home</span></a></li>
            <li class="breadcrumb-item"><a href="{% url 'blog:overview' %}"><span>Blog</span></a></li>
        </ol>
    </div>
    <div class="container header-container">
        <h1 class="text-center">Vanilla Develop Blog</h1>
    </div>
    <div class="container">
        <nav class="blogpagination-nav">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
        <div class="row mb-3">
            {% for post in posts %}
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="d-flex flex-column blogpost">
                    <h3 class="text-center">{{post.title}}</h3>
                    <p class="text-center">{{post.created_at}}</p>
                    <hr>
                    <div class="d-flex flex-column flex-fill justify-content-between">
                        <p>{{post.content|striptags|safe|truncatechars:230}}</p>
                        <a class="text-end" href="{% url 'blog:post' post.id %}">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <nav class="blogpagination-nav">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
{% endblock %}