{% extends 'base.html' %}
{% block content %}
<div class="container header-container">
    <h1 class="text-center">Vanilla Develop Blog</h1>
    <div class="d-flex flex-row justify-content-between"><a class="navlink" href="#">&lt; Previous
            Post</a><span>{{post.created_at}}</span><a class="text-end navlink" href="#">Next Post &gt;</a></div>
</div>
<div class="container" id="blogpost-container">
    <h1 class="text-center">{{post.title}}</h1>
    <p class="text-center">{{categories}}</p>
    {{post.content|safe}}
</div>
{% endblock %}