{% extends 'base.html' %}
{% block content %}
<div id="frontpage-header" class="mb-3"></div>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home:index' %}"><span>Home</span></a></li>
        <li class="breadcrumb-item"><a href="{% url 'blog:overview' %}"><span>Blog</span></a></li>
        <li class="breadcrumb-item"><a href="{% url 'blog:post' post.id %}"><span>{{post.title}}</span></a></li>
    </ol>
</div>
<div class="container header-container">
    <h1 class="text-center">{{post.title}}<br></h1>
    {% if not post.is_published %}
    <p class="text-center"><span class="badge bg-danger">Draft</span></p>
    {% endif %}
    <p class="text-center">Categories: {{categories}}</p>
    <div class="d-flex flex-row justify-content-between">
        {% if next %}
        <a class="navlink" href="{% url 'blog:post' next.id %}">&lt; Next
            Post</a>
        {% else %}
        <span class="navlink"></span>
        {% endif %}
        <span>{{post.created_at}}</span>
        {% if prev %}
        <a class="text-end navlink" href="{% url 'blog:post' prev.id %}">Previous Post &gt;</a>
        {% else %}
        <span class="navlink"></span>
        {% endif %}
    </div>
</div>
<div class="container">
    {% if request.user.is_authenticated %}
    <div class="mb-3">
        <a href="{% url 'blog:edit' post.id %}"><button class="btn btn-primary">Edit this post</button></a>
        <form action="{% url 'blog:delete' post.id %}" method="post" class="d-inline">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete this post"></input>
        </form>
    </div>
    {% endif %}
    {{post.content|safe}}
</div>
{% endblock %}