{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>vanilladev</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant&amp;display=swap">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md" id="navbar-main">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:index' %}">Vanilla Develop</a>
            <button type="button" data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"
                aria-controls="navcol-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a {% if request.resolver_match.app_name == "home" %} class="active nav-link"
                            {% else %} class="nav-link" {% endif %} href="{% url 'home:index' %}">Home</a></li>
                    <li class="nav-item dropdown">
                        <a {% if request.resolver_match.app_name == "projects" %} class="active nav-link dropdown-toggle" {% else %}
                            class="nav-link dropdown-toggle" {% endif %} href="#" id="navbarDropdownProjectsLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Projects
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownProjectsLink">
                            {% if request.user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'projects:overview' %}"><strong>Management</strong></a></li>
                            {% endif %}
                            {% for project in navbar_projects %}
                            <li><a class="dropdown-item" href="{% url 'projects:page' project.id %}">
                                    {{project.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Side Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Articles</a></li>
                    <li class="nav-item"><a {% if request.resolver_match.app_name == "blog" %} class="active nav-link"
                            {% else %} class="nav-link" {% endif %} href="{% url 'blog:overview' %}">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="text-light">
        <div class="d-flex flex-column justify-content-center align-items-center"><span class="text-center">© Vanilla
                2022<br></span>
            <div><a class="social-link" href="https://www.kaggle.com/vanilladev"><i
                        class="fab fa-kaggle link-icon"></i></a><span>&nbsp;</span><a class="social-link"
                    href="https://github.com/VanillaDevelop"><i class="fa fa-github link-icon"></i></a></div>
        </div>
    </footer>
</body>

</html>